@import '../../common/colors.scss';

.card-item{
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    transition: all 0.3s;
    height: 100%;
    &:hover{
        transform: scale(1.1);
        transition: all 0.3s;
    }

    .movie-poster{
        height: 200px;
        width: 100%;
        // object-fit: contain;
    }

    .movie-detail{
        padding: 1em 0.5em;
        
        .movie-title{
            font-size: 0.9em;
            padding-bottom: 5px;
        }
        .movie-year{
            font-weight: 100; 
        }
    }
}
.movie-carousel-section{
    .card-item{
        margin: 0 4px;
        height: 315px;
        max-width: 160px;
    }
}
